@font-face {
  font-family: 'Open Sans Bold';
  src: url("../font/opensans-bold-webfont.eot");
  src: url("../font/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-bold-webfont.woff2") format("woff2"), url("../font/opensans-bold-webfont.woff") format("woff"), url("../font/opensans-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url("../font/opensans-bolditalic-webfont.eot");
  src: url("../font/opensans-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-bolditalic-webfont.woff2") format("woff2"), url("../font/opensans-bolditalic-webfont.woff") format("woff"), url("../font/opensans-bolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Extra Bold';
  src: url("../font/opensans-extrabold-webfont.eot");
  src: url("../font/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-extrabold-webfont.woff2") format("woff2"), url("../font/opensans-extrabold-webfont.woff") format("woff"), url("../font/opensans-extrabold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Extra Bold Italic';
  src: url("../font/opensans-extrabolditalic-webfont.eot");
  src: url("../font/opensans-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("../font/opensans-extrabolditalic-webfont.woff") format("woff"), url("../font/opensans-extrabolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Italic';
  src: url("../font/opensans-italic-webfont.eot");
  src: url("../font/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-italic-webfont.woff2") format("woff2"), url("../font/opensans-italic-webfont.woff") format("woff"), url("../font/opensans-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Light';
  src: url("../font/opensans-light-webfont.eot");
  src: url("../font/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-light-webfont.woff2") format("woff2"), url("../font/opensans-light-webfont.woff") format("woff"), url("../font/opensans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Light Italic';
  src: url("../font/opensans-lightitalic-webfont.eot");
  src: url("../font/opensans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-lightitalic-webfont.woff2") format("woff2"), url("../font/opensans-lightitalic-webfont.woff") format("woff"), url("../font/opensans-lightitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../font/opensans-regular-webfont.eot");
  src: url("../font/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-regular-webfont.woff2") format("woff2"), url("../font/opensans-regular-webfont.woff") format("woff"), url("../font/opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Semi Bold';
  src: url("../font/opensans-semibold-webfont.eot");
  src: url("../font/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-semibold-webfont.woff2") format("woff2"), url("../font/opensans-semibold-webfont.woff") format("woff"), url("../font/opensans-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Semi Bold Italic';
  src: url("../font/opensans-semibolditalic-webfont.eot");
  src: url("../font/opensans-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../font/opensans-semibolditalic-webfont.woff") format("woff"), url("../font/opensans-semibolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body,
button,
input,
optgroup,
select,
textarea,
fieldset,
dd {
  margin: 0; }

input[type="checkbox"],
input[type="radio"],
button,
fieldset,
legend,
td,
th {
  padding: 0; }

ul,
ol,
dl,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px; }

html {
  -webkit-tap-highlight-color: transparent; }

body {
  min-width: 320px;
  font: normal 14px/1.2em Arial, Helvetica, sans-serif;
  color: #333333; 
  padding-bottom: 10px;}

a {
  text-decoration: none; }

a,
a:active,
a:hover,
button,
button:active,
button:hover,
input,
input:active,
input:hover,
select,
select:active,
select:hover,
textarea,
textarea:active,
textarea:hover {
  outline: 0; }

a img {
  border: none; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input:focus {
  outline: none; }


input[type="search"] {
  -webkit-appearance: textfield; }

fieldset {
  padding: 15px;
  border: none; }

textarea {
  overflow: auto; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #cccccc; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.6em;
  color: inherit; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

dt,
dd {
  line-height: inherit; }

th {
  text-align: left; }

legend {
  display: block;
  width: 100%;
  font-size: inherit;
  line-height: inherit; }


.container {
  max-width: 980px;
  margin: 0 auto; }

.container,
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.row:before, .row:after,
.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.row:after,
.clearfix:after {
  clear: both; }

.col {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.col-phone-1 {
  width: 8.33333%; }

.col-phone-2 {
  width: 16.66667%; }

.col-phone-3 {
  width: 25%; }

.col-phone-4 {
  width: 33.33333%; }

.col-phone-5 {
  width: 41.66667%; }

.col-phone-6 {
  width: 50%; }

.col-phone-7 {
  width: 58.33333%; }

.col-phone-8 {
  width: 66.66667%; }

.col-phone-9 {
  width: 75%; }

.col-phone-10 {
  width: 83.33333%; }

.col-phone-11 {
  width: 91.66667%; }

.col-phone-12 {
  width: 100%; }

.col-phone-offset-0 {
  margin-left: 0; }

.col-phone-offset-1 {
  margin-left: 8.33333%; }

.col-phone-offset-2 {
  margin-left: 16.66667%; }

.col-phone-offset-3 {
  margin-left: 25%; }

.col-phone-offset-4 {
  margin-left: 33.33333%; }

.col-phone-offset-5 {
  margin-left: 41.66667%; }

.col-phone-offset-6 {
  margin-left: 50%; }

.col-phone-offset-7 {
  margin-left: 58.33333%; }

.col-phone-offset-8 {
  margin-left: 66.66667%; }

.col-phone-offset-9 {
  margin-left: 75%; }

.col-phone-offset-10 {
  margin-left: 83.33333%; }

.col-phone-offset-11 {
  margin-left: 91.66667%; }

.col-phone-offset-12 {
  margin-left: 100%; }

@media only screen and (min-width: 480px) {
  .col-phone-wide-1 {
    width: 8.33333%; }
  .col-phone-wide-2 {
    width: 16.66667%; }
  .col-phone-wide-3 {
    width: 25%; }
  .col-phone-wide-4 {
    width: 33.33333%; }
  .col-phone-wide-5 {
    width: 41.66667%; }
  .col-phone-wide-6 {
    width: 50%; }
  .col-phone-wide-7 {
    width: 58.33333%; }
  .col-phone-wide-8 {
    width: 66.66667%; }
  .col-phone-wide-9 {
    width: 75%; }
  .col-phone-wide-10 {
    width: 83.33333%; }
  .col-phone-wide-11 {
    width: 91.66667%; }
  .col-phone-wide-12 {
    width: 100%; }
  .col-phone-wide-offset-0 {
    margin-left: 0; }
  .col-phone-wide-offset-1 {
    margin-left: 8.33333%; }
  .col-phone-wide-offset-2 {
    margin-left: 16.66667%; }
  .col-phone-wide-offset-3 {
    margin-left: 25%; }
  .col-phone-wide-offset-4 {
    margin-left: 33.33333%; }
  .col-phone-wide-offset-5 {
    margin-left: 41.66667%; }
  .col-phone-wide-offset-6 {
    margin-left: 50%; }
  .col-phone-wide-offset-7 {
    margin-left: 58.33333%; }
  .col-phone-wide-offset-8 {
    margin-left: 66.66667%; }
  .col-phone-wide-offset-9 {
    margin-left: 75%; }
  .col-phone-wide-offset-10 {
    margin-left: 83.33333%; }
  .col-phone-wide-offset-11 {
    margin-left: 91.66667%; }
  .col-phone-wide-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 560px) {
  .col-phablet-1 {
    width: 8.33333%; }
  .col-phablet-2 {
    width: 16.66667%; }
  .col-phablet-3 {
    width: 25%; }
  .col-phablet-4 {
    width: 33.33333%; }
  .col-phablet-5 {
    width: 41.66667%; }
  .col-phablet-6 {
    width: 50%; }
  .col-phablet-7 {
    width: 58.33333%; }
  .col-phablet-8 {
    width: 66.66667%; }
  .col-phablet-9 {
    width: 75%; }
  .col-phablet-10 {
    width: 83.33333%; }
  .col-phablet-11 {
    width: 91.66667%; }
  .col-phablet-12 {
    width: 100%; }
  .col-phablet-offset-0 {
    margin-left: 0; }
  .col-phablet-offset-1 {
    margin-left: 8.33333%; }
  .col-phablet-offset-2 {
    margin-left: 16.66667%; }
  .col-phablet-offset-3 {
    margin-left: 25%; }
  .col-phablet-offset-4 {
    margin-left: 33.33333%; }
  .col-phablet-offset-5 {
    margin-left: 41.66667%; }
  .col-phablet-offset-6 {
    margin-left: 50%; }
  .col-phablet-offset-7 {
    margin-left: 58.33333%; }
  .col-phablet-offset-8 {
    margin-left: 66.66667%; }
  .col-phablet-offset-9 {
    margin-left: 75%; }
  .col-phablet-offset-10 {
    margin-left: 83.33333%; }
  .col-phablet-offset-11 {
    margin-left: 91.66667%; }
  .col-phablet-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 640px) {
  .col-tablet-small-1 {
    width: 8.33333%; }
  .col-tablet-small-2 {
    width: 16.66667%; }
  .col-tablet-small-3 {
    width: 25%; }
  .col-tablet-small-4 {
    width: 33.33333%; }
  .col-tablet-small-5 {
    width: 41.66667%; }
  .col-tablet-small-6 {
    width: 50%; }
  .col-tablet-small-7 {
    width: 58.33333%; }
  .col-tablet-small-8 {
    width: 66.66667%; }
  .col-tablet-small-9 {
    width: 75%; }
  .col-tablet-small-10 {
    width: 83.33333%; }
  .col-tablet-small-11 {
    width: 91.66667%; }
  .col-tablet-small-12 {
    width: 100%; }
  .col-tablet-small-offset-0 {
    margin-left: 0; }
  .col-tablet-small-offset-1 {
    margin-left: 8.33333%; }
  .col-tablet-small-offset-2 {
    margin-left: 16.66667%; }
  .col-tablet-small-offset-3 {
    margin-left: 25%; }
  .col-tablet-small-offset-4 {
    margin-left: 33.33333%; }
  .col-tablet-small-offset-5 {
    margin-left: 41.66667%; }
  .col-tablet-small-offset-6 {
    margin-left: 50%; }
  .col-tablet-small-offset-7 {
    margin-left: 58.33333%; }
  .col-tablet-small-offset-8 {
    margin-left: 66.66667%; }
  .col-tablet-small-offset-9 {
    margin-left: 75%; }
  .col-tablet-small-offset-10 {
    margin-left: 83.33333%; }
  .col-tablet-small-offset-11 {
    margin-left: 91.66667%; }
  .col-tablet-small-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 768px) {
  .col-tablet-1 {
    width: 8.33333%; }
  .col-tablet-2 {
    width: 16.66667%; }
  .col-tablet-3 {
    width: 25%; }
  .col-tablet-4 {
    width: 33.33333%; }
  .col-tablet-5 {
    width: 41.66667%; }
  .col-tablet-6 {
    width: 50%; }
  .col-tablet-7 {
    width: 58.33333%; }
  .col-tablet-8 {
    width: 66.66667%; }
  .col-tablet-9 {
    width: 75%; }
  .col-tablet-10 {
    width: 83.33333%; }
  .col-tablet-11 {
    width: 91.66667%; }
  .col-tablet-12 {
    width: 100%; }
  .col-tablet-offset-0 {
    margin-left: 0; }
  .col-tablet-offset-1 {
    margin-left: 8.33333%; }
  .col-tablet-offset-2 {
    margin-left: 16.66667%; }
  .col-tablet-offset-3 {
    margin-left: 25%; }
  .col-tablet-offset-4 {
    margin-left: 33.33333%; }
  .col-tablet-offset-5 {
    margin-left: 41.66667%; }
  .col-tablet-offset-6 {
    margin-left: 50%; }
  .col-tablet-offset-7 {
    margin-left: 58.33333%; }
  .col-tablet-offset-8 {
    margin-left: 66.66667%; }
  .col-tablet-offset-9 {
    margin-left: 75%; }
  .col-tablet-offset-10 {
    margin-left: 83.33333%; }
  .col-tablet-offset-11 {
    margin-left: 91.66667%; }
  .col-tablet-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 1024px) {
  .col-tablet-wide-1 {
    width: 8.33333%; }
  .col-tablet-wide-2 {
    width: 16.66667%; }
  .col-tablet-wide-3 {
    width: 25%; }
  .col-tablet-wide-4 {
    width: 33.33333%; }
  .col-tablet-wide-5 {
    width: 41.66667%; }
  .col-tablet-wide-6 {
    width: 50%; }
  .col-tablet-wide-7 {
    width: 58.33333%; }
  .col-tablet-wide-8 {
    width: 66.66667%; }
  .col-tablet-wide-9 {
    width: 75%; }
  .col-tablet-wide-10 {
    width: 83.33333%; }
  .col-tablet-wide-11 {
    width: 91.66667%; }
  .col-tablet-wide-12 {
    width: 100%; }
  .col-tablet-wide-offset-0 {
    margin-left: 0; }
  .col-tablet-wide-offset-1 {
    margin-left: 8.33333%; }
  .col-tablet-wide-offset-2 {
    margin-left: 16.66667%; }
  .col-tablet-wide-offset-3 {
    margin-left: 25%; }
  .col-tablet-wide-offset-4 {
    margin-left: 33.33333%; }
  .col-tablet-wide-offset-5 {
    margin-left: 41.66667%; }
  .col-tablet-wide-offset-6 {
    margin-left: 50%; }
  .col-tablet-wide-offset-7 {
    margin-left: 58.33333%; }
  .col-tablet-wide-offset-8 {
    margin-left: 66.66667%; }
  .col-tablet-wide-offset-9 {
    margin-left: 75%; }
  .col-tablet-wide-offset-10 {
    margin-left: 83.33333%; }
  .col-tablet-wide-offset-11 {
    margin-left: 91.66667%; }
  .col-tablet-wide-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 1248px) {
  .col-desktop-1 {
    width: 8.33333%; }
  .col-desktop-2 {
    width: 16.66667%; }
  .col-desktop-3 {
    width: 25%; }
  .col-desktop-4 {
    width: 33.33333%; }
  .col-desktop-5 {
    width: 41.66667%; }
  .col-desktop-6 {
    width: 50%; }
  .col-desktop-7 {
    width: 58.33333%; }
  .col-desktop-8 {
    width: 66.66667%; }
  .col-desktop-9 {
    width: 75%; }
  .col-desktop-10 {
    width: 83.33333%; }
  .col-desktop-11 {
    width: 91.66667%; }
  .col-desktop-12 {
    width: 100%; }
  .col-desktop-offset-0 {
    margin-left: 0; }
  .col-desktop-offset-1 {
    margin-left: 8.33333%; }
  .col-desktop-offset-2 {
    margin-left: 16.66667%; }
  .col-desktop-offset-3 {
    margin-left: 25%; }
  .col-desktop-offset-4 {
    margin-left: 33.33333%; }
  .col-desktop-offset-5 {
    margin-left: 41.66667%; }
  .col-desktop-offset-6 {
    margin-left: 50%; }
  .col-desktop-offset-7 {
    margin-left: 58.33333%; }
  .col-desktop-offset-8 {
    margin-left: 66.66667%; }
  .col-desktop-offset-9 {
    margin-left: 75%; }
  .col-desktop-offset-10 {
    margin-left: 83.33333%; }
  .col-desktop-offset-11 {
    margin-left: 91.66667%; }
  .col-desktop-offset-12 {
    margin-left: 100%; } }

@media only screen and (min-width: 1440px) {
  .col-desktop-wide-1 {
    width: 8.33333%; }
  .col-desktop-wide-2 {
    width: 16.66667%; }
  .col-desktop-wide-3 {
    width: 25%; }
  .col-desktop-wide-4 {
    width: 33.33333%; }
  .col-desktop-wide-5 {
    width: 41.66667%; }
  .col-desktop-wide-6 {
    width: 50%; }
  .col-desktop-wide-7 {
    width: 58.33333%; }
  .col-desktop-wide-8 {
    width: 66.66667%; }
  .col-desktop-wide-9 {
    width: 75%; }
  .col-desktop-wide-10 {
    width: 83.33333%; }
  .col-desktop-wide-11 {
    width: 91.66667%; }
  .col-desktop-wide-12 {
    width: 100%; }
  .col-desktop-wide-offset-0 {
    margin-left: 0; }
  .col-desktop-wide-offset-1 {
    margin-left: 8.33333%; }
  .col-desktop-wide-offset-2 {
    margin-left: 16.66667%; }
  .col-desktop-wide-offset-3 {
    margin-left: 25%; }
  .col-desktop-wide-offset-4 {
    margin-left: 33.33333%; }
  .col-desktop-wide-offset-5 {
    margin-left: 41.66667%; }
  .col-desktop-wide-offset-6 {
    margin-left: 50%; }
  .col-desktop-wide-offset-7 {
    margin-left: 58.33333%; }
  .col-desktop-wide-offset-8 {
    margin-left: 66.66667%; }
  .col-desktop-wide-offset-9 {
    margin-left: 75%; }
  .col-desktop-wide-offset-10 {
    margin-left: 83.33333%; }
  .col-desktop-wide-offset-11 {
    margin-left: 91.66667%; }
  .col-desktop-wide-offset-12 {
    margin-left: 100%; } }

::-webkit-input-placeholder {
  color: #c62c2c;
  line-height: normal; }

:-moz-placeholder {
  color: #c62c2c;
  line-height: normal; }

::-moz-placeholder {
  color: #c62c2c;
  line-height: normal; }

:-ms-input-placeholder {
  color: #c62c2c;
  line-height: normal; }

* + .field:not(.field-small) {
  margin-top: 15px; }
  @media only screen and (max-width: 639px) {
    * + .field:not(.field-small) {
      margin-top: 10px; } }

.field {
  max-width: 480px;
  position: relative;
  background: #ffffff;
  vertical-align: top;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .field.field-full {
    width: 100%; }
  @media only screen and (max-width: 639px) {
    .field:not(.field-small) {
      width: 100%; } }
  .field input,
  .field textarea {
    width: 100%;
    height: 35px;
    padding: 9px 18px;
    margin: 0;
    border: none;
    font-size: 16px;
    line-height: normal;
    color: #c62c2c;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    @media only screen and (max-width: 639px) {
      .field input,
      .field textarea {
        width: 100%;
        height: 30px;
        padding: 8px 15px;
        font-size: 12px; } }
  .field textarea {
    height: 100px; }

.field-outline {
  border-width: 1px;
  border-style: solid; }

.field-outline-brand {
  border-color: #c62c2c; }

.field.field-icon input,
.field.field-icon textarea {
  padding-right: 50px; }

.field.field-icon svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  right: 20px; }
  @media only screen and (max-width: 639px) {
    .field.field-icon svg {
      width: 14px;
      height: 14px;
      margin-top: -7px;
      margin-left: -7px;
      top: 50%;
      left: 50%;
      position: absolute; } }

.field.field-icon path {
  fill: #c62c2c; }

label {
  font-family: "Open Sans Bold"; }

* + .button:not(.button-small) {
  margin-top: 15px; }
  @media only screen and (max-width: 639px) {
    * + .button:not(.button-small) {
      margin-top: 10px; } }

.button {
  display: inline-block;
  padding: 12px 25px;
  border: none;
  font-family: "Open Sans Bold";
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background: #eeeeee;
  position: relative;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  @media only screen and (max-width: 639px) {
    .button:not(.button-small) {
      width: 100%; } }
  @media only screen and (max-width: 639px) {
    .button {
      padding: 12px 15px;
      font-size: 10px;
      line-height: 10px; } }

.button-small {
  font-size: 12px;
  line-height: 12px;
  padding: 8px 10px; }
  @media only screen and (max-width: 639px) {
    .button-small {
      font-size: 8px;
      line-height: 8px;
      padding: 6px 8px; } }

.button-mid {
  padding: 12px 20px; }
  @media only screen and (max-width: 639px) {
    .button-mid {
      padding: 10px 18px; } }

.button-full {
  width: 100%; }

.button-icon {
  padding-left: 40px; }
  .button-icon.button-small {
    padding-left: 30px; }
    .button-icon.button-small img {
      width: 14px;
      height: 14px;
      margin-top: -7px;
      top: 50%;
      left: 10px; }
  .button-icon img {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    left: 15px; }

.button-brand {
  color: #ffffff;
  background: #c62c2c; }

.button-success {
  color: #ffffff;
  background: #91c83e; }

.button-danger {
  color: #ffffff;
  background: #ec424b; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-underline {
  text-transform: capitalize; }

.text-hidden {
  text-align: left;
  text-indent: -999px;
  overflow: hidden; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.vertical-align-top {
  vertical-align: top; }

.vertical-align-middle {
  vertical-align: middle; }

.vertical-align-bottom {
  vertical-align: bottom; }

.list {
  padding-left: 20px;
  margin-bottom: 20px; }
  .list.disc {
    list-style-type: disc; }
  .list.circle {
    list-style-type: circle; }
  .list.upper-alpha {
    list-style-type: upper-alpha; }
  .list.lower-alpha {
    list-style-type: lower-alpha; }
  .list.decimal {
    list-style-type: circle; }
  .list.decimal-leading-zero {
    list-style-type: decimal-leading-zero; }
  .list.upper-roman {
    list-style-type: upper-roman; }
  .list.lower-roman {
    list-style-type: lower-roman; }

.small {
  font-size: 13px;
  line-height: 16px; }

.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .scrollable * {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }

.centralize-content {
  margin-left: auto;
  margin-right: auto; }

.clear {
  clear: both; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.hide {
  display: none !important; }

.show {
  display: initial !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.padding-top {
  padding-top: 15px !important; }

.padding-right {
  padding-right: 15px !important; }

.padding-bottom {
  padding-bottom: 15px !important; }

.padding-left {
  padding-left: 15px !important; }

.margin-top {
  margin-top: 15px !important; }

.margin-right {
  margin-right: 15px !important; }

.margin-bottom {
  margin-bottom: 15px !important; }

.margin-left {
  margin-left: 15px !important; }

@media only screen and (max-width: 639px) {
  .hide-on-mobile {
    display: none !important; }
  .show-on-mobile {
    display: block !important; }
  .text-center-on-mobile {
    text-align: center !important; }
  .text-right-on-mobile {
    text-align: right !important; }
  .text-left-on-mobile {
    text-align: left !important; } }

@media only screen and (min-width: 768px) and (max-width: 1247px) {
  .hide-on-tablet {
    display: none !important; }
  .show-on-tablet {
    display: block !important; }
  .text-center-on-tablet {
    text-align: center !important; }
  .text-right-on-tablet {
    text-align: right !important; }
  .text-left-on-tablet {
    text-align: left !important; } }

@media only screen and (min-width: 1248px) {
  .hide-on-desktop {
    display: none !important; }
  .show-on-desktop {
    display: block !important; }
  .text-center-on-tablet {
    text-align: center !important; }
  .text-right-on-tablet {
    text-align: right !important; }
  .text-left-on-tablet {
    text-align: left !important; } }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none; }

/* If wants to hide the scrollbar

::-webkit-scrollbar {
	display: none;
	width: 0 !important;
}

*/
/* If wants to hide the text selection

::-webkit-selection {
  color: inherit;
  background: transparent;
}

::selection {
  color: inherit;
  background: transparent;
}

*/
body,
textarea,
input,
button {
  font-family: "Open Sans Regular", Arial, Helvetica, sans-serif; }

input[type="text"],
input[type="email"],
input[type="password"] {
  -webkit-appearance: caret; }

input,
textarea,
button {
  pointer-events: auto;
  -webkit-user-select: text;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  -o-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  -webkit-text-stroke: 1px transparent;
  -moz-text-stroke: 1px transparent;
  -ms-text-stroke: 1px transparent;
  -o-text-stroke: 1px transparent;
  text-stroke: 1px transparent;
  text-rendering: optimizeLegibility; }

nav ul,
nav ol {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #2d2d2d; }
  a:hover {
    text-decoration: underline; }

button,
a {
  pointer-events: auto; }

svg {
  -webkit-transform: translateZ(0);
  -webkit-shape-rendering: optimizeSpeed; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Bold";
  font-weight: normal; }

.em,
em {
  font-family: "Open Sans Italic";
  font-style: normal; }

.strong,
strong {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: normal; }

.strong.em,
.strong .em,
.strong em,
.em .strong,
.em strong,
em strong,
strong em {
  font-family: "Open Sans Bold Italic"; }

html,
body,
.fit {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  -o-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
  -webkit-text-stroke: 1px transparent;
  -moz-text-stroke: 1px transparent;
  -ms-text-stroke: 1px transparent;
  -o-text-stroke: 1px transparent;
  text-stroke: 1px transparent;
  text-rendering: optimizeLegibility; }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 16px;
      line-height: 20px; } }

@media only screen and (max-width: 639px) {
  h1 {
    font-size: 22px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 18px; }
  h4 {
    font-size: 16px; }
  h5 {
    font-size: 14px; }
  h6 {
    font-size: 12px; } }

.spinner-cantainer,
.spinner-centering {
  width: 100%;
  height: 100%; }

.spinner-cantainer {
  display: table;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99999;
  background: rgba(255, 255, 255, 0.7); }

.spinner-centering {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.spinner {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #c62c2c;
  border-top: 3px solid #c62c2c;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: spinner 0.6s infinite linear;
  -moz-animation: spinner 0.6s infinite linear;
  -ms-animation: spinner 0.6s infinite linear;
  -o-animation: spinner 0.6s infinite linear;
  animation: spinner 0.6s infinite linear; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

body.modal-open {
  overflow: hidden; }

.modal-overlay {
  width: 100%;
  height: 100%;
  padding: 80px 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

.modal {
  margin: 0 auto 150px;
  background: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }

.modal-small {
  max-width: 400px; }

@media (max-width: 430px) {
  .modal-small {
    margin-right: 15px;
    margin-left: 15px; } }

.modal-medium {
  max-width: 600px; }

@media (max-width: 630px) {
  .modal-medium {
    margin-right: 15px;
    margin-left: 15px; } }

.modal-large {
  max-width: 1000px; }

@media (max-width: 1030px) {
  .modal-large {
    margin-right: 15px;
    margin-left: 15px; } }

.modal header {
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
  position: relative; }
  .modal header h6 {
    padding-right: 60px;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px; }
  .modal header .link {
    position: absolute;
    top: 10px;
    right: 10px; }

.modal-content {
  padding: 15px; }

body {
  background: #efefef; }

.main-header {
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }
  .main-header img {
    width: 100%;
    height: auto; }
  .main-header ul a {
    padding: 10px 15px;
    color: #000000; }
    .main-header ul a:hover {
      color: #c62c2c; }
  .main-header ul li:last-child a {
    padding-right: 0; }
  .main-header .col:first-child {
    padding-top: 5px; }
  @media only screen and (max-width: 1023px) {
    .main-header ul {
      text-align: center;
      float: none !important; }
    .main-header li {
      display: inline-block;
      float: none !important; }
      .main-header li:last-child a {
        padding-right: 15px !important; }
    .main-header a {
      display: inline-block; } }

.main-section {
  min-height: 80vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.product-list {
  list-style: none; }
  .product-list li {
    margin-bottom: 15px; }
  .product-list .product-box {
    padding: 30px 15px 15px;
    border-bottom: 1px solid #e6e6e6;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }
    .product-list .product-box img {
      width: auto;
      height: 120px;
      margin-bottom: 15px; }
  .product-list h6 {
    height: 80px;
    margin: 0;
    overflow: hidden; }

.main-footer {
  margin-top: 15px;
  padding: 15px 0;
  background: #333333; }
  .main-footer ul {
    margin-bottom: 15px; }
  .main-footer a {
    padding: 3px 15px; }
    .main-footer a:hover {
      color: #ffffff; }
  .main-footer a,
  .main-footer p {
    font-size: 12px;
    line-height: 16px;
    color: #eeeeee; }

.sketch {
  padding-top: 100px; }
  .sketch img {
    width: 300px;
    height: 300px; }
    @media only screen and (max-width: 767px) {
      .sketch img {
        width: 150px;
        height: 150px; } }
